.glasses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.glasses-item {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.glasses-item img {
    width: 100%;
    border-radius: 5px;
}

.glasses-item h3 {
    margin-top: 10px;
}
